.menu__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  max-width: 1032px; //Ширину указал, временно, по макет, кода будем делать главную страницу, зададим через clamp
  height: 2126px; //Пока указал фиксированную высоту по макету, когда будем главную страницу создавать, зададим 'height: 100vh'

  border: 1px solid rgb(160, 164, 173);
  border-radius: 0px 72px 72px 0px;
  background: rgb(19, 20, 22);

  padding: 97px;

  position: relative;
}

.menu__button_close {
  position: absolute;
  right: 45px;
  top: 45px;
  background-color: rgba(217, 217, 217);
  border-radius: 50%;

  width: 48px;
  height: 48px;

  transition: stroke 0.2s, background-color 0.2s;
}

// .menu__button_close:active svg path {
//   stroke: #9cbbff;
// }

// .menu__button_close:active {
//   background-color: #1c1f26;
// }

.menu__button_close svg {
  fill: none;
}

.menu__title {
  margin-bottom: 84px;
}

.title3_menu {
  color: rgb(240, 240, 240);
  font-size: 78px;
  font-weight: 700;
  line-height: 107px;
}

.menu__list {
  display: flex;
  flex-direction: column;
  row-gap: 100px;
}
